
/*GERAL*/

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

  /*NAVBAR*/

.nav {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-primary.navbar{
    position: absolute;
    width: 100%;
    z-index: 99;
}

@media (max-width: 480px) {
    .nav-primary.navbar{
    width: 50vw;
    }
    .nav {
        margin-right: 10px;
        margin-top: 10px;
    }
    .navbar-toggler {
        margin-left: 10px;
    }
}

@media (min-width: 767px) and  (max-width: 979px){
    .nav-primary.navbar{
    width: 25vw;
    }
    .nav {
        margin-right: 10px;
        margin-top: 10px;
    }
    .navbar-toggler {
        margin-left: 10px;
    }
}

.nav > li > a{
    color:black;
}


.nav > li > a:hover{
    color:white;
}

/*BACKGROUND*/
.cover img {
    height: 100%;;
    height: 100vh;
    width: 100%;
    width: 100vw;
    object-fit: cover;
    object-position: top;
    opacity: 0.5;
}

/*ABOUT ME*/

.title {
    font-weight: lighter;
}

.subtitle {
    font-size: 20px;
}

.quote {
    font-size: 20px;
}

@media (max-width: 480px) {
    
    .subtitle {
    font-size: 20px;
    }

    .quote {
        font-size: 15px;
    }
}


/*WORKS/PORTFOLIO*/

.works{
    background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.img-work{
    filter: grayscale(100%);
}


/*FORM*/

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
}

li.error {
    color: rgba(255, 0, 0, 0.774);
    font-weight: bold;

}

input.error {
    border-color: rgba(255, 0, 0, 0.548);
}

textarea.error {
    border-color: rgba(255, 0, 0, 0.548);
}

/*FOOTER*/

.btn-footer{
    background-color: black;
    color: white;
}

footer {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#arrowTop {    
    color: #5e5c5f;
    position: fixed;
    bottom: 40%;
    right: 2%;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

#arrowTop:hover {
    color: rgba(78, 73, 73, 0.699);
    transition: 0.3s;
}

@media (max-width: 320px){
    #arrowTop {
        display: none;
    }
}

@media (max-width: 480px){
    #arrowTop {
       display: none;
    }
}

@media (min-width: 767px) and  (max-width: 979px) {
    #arrowTop {
        display: none;
    }
}

/* AJUSTAR ARROW TOP PARA MEDIA QUERY */

.fa-github {
    color: white;
    font-size: 40px;
}

.fa-github:hover{
    color: grey;
}

.fa-linkedin {
    color: white;
    font-size: 40px;
}

.fa-linkedin:hover {
    color: grey;
 
}